@page "/movie/{id:int}"
@inject IDataLayer DataLayer
@using Models.Domain

<h3>MoviePage</h3>

@if (item == null || casting == null)
{
    <span>error</span>
}
else
{
    <table class="table" border="0" width="500" height="500" cellspacing="0">
        <tr>
           
            @item.original_title
        </tr>
        <tr>
            @item.overview
        </tr>
        <h2>Casting list</h2>
        @foreach (var item in casting)
        {
        <tr>
            @item.name ---> @item.character
        </tr>
        }
        <br />
        <tr>
            it has : @item.vote_average ★(@item.vote_count voted)
        </tr>

    </table>
    <button type="button" class="btn btn-info" @onclick=AddToFavorite>AddToFavorite</button>
}

@code {
    [Parameter]
    public int id { get; set; }
    Result item { get; set; }
    IList<Cast> casting { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var items = await DataLayer.MovieById(id);
        item = items;
        var cast = await DataLayer.Cast(id);
        casting = cast;
    }

    async Task AddToFavorite()
    {
        await DataLayer.AddToFavorites(id);
    }

}
